@using TNCFurnitures.Models
<link href="~/Styles/not-cart-2.css" rel="stylesheet" />
@model List<Cart>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-color:#f6f6f8; padding-bottom:2rem;">
    <h2 style="text-align:center; padding-top: 9rem; padding-bottom: 3rem; font-size: 4rem;">YOUR CART</h2>
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="item row" style="background-color: #fff">
                <div class="col-12 col-md-6 d-flex align-items-center">
                    <div class="buttons">
                        <a href="@Url.Action("DeleteTheCart", "Cart", new { @iMaSp = item.iMaNT })" class="btn btn-danger">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>

                    <div class="image">
                        <img src="~/Images/@item.sAnhBia" alt="" />
                    </div>

                    <div class="description">
                        <span style="font-weight:500">@item.sTenNT</span>
                    </div>
                </div>

                <div class="col-6 col-md-3 d-flex align-items-center">
                    <div class="quantity">
                        <a href="@Url.Action("MinusItem", "Cart", new { @iMaSp = item.iMaNT })" class="minus-btn btn btn-info" name="button">
                            <i class="fas fa-minus"></i>

                        </a>
                        <p type="text" name="name" value="@item.iSoLuong" 
                           style="display:inline;padding: 0 1.5rem;font-size: 1.5rem;">
                            @item.iSoLuong
                        </p>
                        <a href="@Url.Action("PlusItem", "Cart", new { @iMaSp = item.iMaNT })" class="plus-btn btn btn-info" name="button">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>


                <div class="total-price col-6 col-md-3 d-flex align-items-center">
                    <p style="font-size:1.9rem;font-weight:500" class="m-0">@String.Format("{0:0,0}", @item.dThanhTien) VNĐ</p>
                </div>
            </div>
        }
    </div>

    <div class="container d-flex justify-content-center justify-content-lg-end">
        <div class="totals" style="padding-top:2rem; padding-bottom:2rem">
            <div class="totals-item d-flex justify-content-between" 
                 style="margin-left:2rem; margin-right:2rem; margin-top:1rem">
                <label style="font-weight:500">Subtotal:</label>
                <div class="totals-value" id="cart-subtotal">@String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ</div>
            </div>
            <div class="totals-item d-flex justify-content-between" 
                 style="margin-left:2rem; margin-right:2rem; margin-top:1rem">
                <label style="font-weight:500">Shipping:</label>
                <div class="totals-value" id="cart-shipping">15,000 VNĐ</div>
            </div>
            <div class="totals-item totals-item-total d-flex justify-content-between" 
                 style="margin-left:2rem; margin-right:2rem; margin-top:1rem">
                <label style="font-weight:500">Total:</label>
                <div class="totals-value" id="cart-total">@String.Format("{0:0,0}", ViewBag.Tongtien + 15000) VNĐ</div>
            </div>
            <div class="d-flex" style="justify-content:space-around">
                <a href="@Url.Action("RemoveAll", "Cart")"
                   class="btn btn-danger text-uppercase mt-4" style="padding: 1rem 3rem; font-size: 1.5rem;font-weight:500">
                    Delete All
                </a><a href="@Url.Action("Order", "Cart")"
                       class="btn btn-success text-uppercase mt-4" style="padding: 1rem 3rem; font-size: 1.5rem;font-weight:500">
                    Check Out
                </a>
            </div>

        </div>
    </div>
</div>