<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous">
<link href="~/Styles/order.css" rel="stylesheet" />
@using TNCFurnitures.Models;
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center; padding-top: 13rem; font-size:4rem;" class="text-uppercase">Order details</h2>
@{
    NGUOIDUNG nd = (NGUOIDUNG)Session["NguoiDung"];
}

<div class="container pt-5">
    <table class="table table-striped w-50 bang" align="center">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <tbody>
                <tr style="font-size: 1.6rem;">
                    <td class="text-left font-weight-bold field">Customer name</td>
                    <td class="text-right text-md-left">@nd.TenND</td>
                </tr>
                <tr style="font-size: 1.6rem;">
                    <td class="text-left  font-weight-bold field">Address</td>
                    <td class="text-right text-md-left">@nd.DiaChi</td>
                </tr>
                <tr style="font-size: 1.6rem;">
                    <td class="text-left  font-weight-bold field">Phone number</td>
                    <td class="text-right text-md-left">@nd.DienThoai</td>
                </tr>
                <tr style="font-size: 1.6rem;">
                    <td class="text-left  font-weight-bold field">Order date</td>
                    <td class="text-right text-md-left">@DateTime.Now.ToShortDateString()</td>
                </tr>
                <tr style="font-size: 1.6rem;">
                    <td class="text-left font-weight-bold field">Delivery data</td>
                    <td class="text-right text-md-left"><input type="date" name="NgayGiao" /></td>
                </tr>
                <tr class="text-center" style="font-size: 1.6rem;">
                    <td colspan="2">
                        <input class="btn btn-success text-uppercase font-weight-bold mt-4"
                               style="padding: 1rem 3rem; font-size: 1.5rem; border-radius: 10px;" type="submit" value="Confirm" />
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>
@*<table align="center">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <tr style="height: 40px">
                <td>Customer name:</td>
                <td style="font-weight: bold">@nd.TenND</td>
            </tr>
            <tr style="height: 40px">
                <td>Address:</td>
                <td style="font-weight: bold">@nd.DiaChi</td>
            </tr>
            <tr style="height: 40px">
                <td>Phone number:</td>
                <td style="font-weight: bold">@nd.DienThoai</td>
            </tr>
            <tr style="height: 40px">
                <td>Order date:</td>
                <td style="font-weight: bold">@DateTime.Now.ToShortDateString()</td>
            </tr>
            <tr style="height: 40px">
                <td>Delivery data:</td>
                <td style="font-weight: bold">
                    <input type="date" name="NgayGiao" />
                </td>
            </tr>
            <tr style="height: 40px">
                <td></td>
                <td>
                    <input type="submit" value="Confirm" />
                </td>
            </tr>
        }
    </table>*@