@model TNCFurnitures.Models.NOITHAT

@{
    ViewBag.Title = "CreateFurniture";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div style="margin-left:5rem; margin-right:5rem; border-bottom:2px solid #f6f6f8">
    <h2 style="margin-top: 9rem">Create new furniture</h2>

    @using (Html.BeginForm("CreateFurniture", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="col-md-1">Name</label>
                <div class="col-md-11">
                    @Html.EditorFor(model => model.TenNT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenNT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-1">Price</label>
                <div class="col-md-11" name="price">
                    @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-1">Description</label>
                <div class="col-md-11">
                    <textarea name="Mota" style="width:28rem; height:15rem;">Describe furniture here...</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-1">Best Seller</label>
                <div class="col-md-11">
                    @Html.EditorFor(model => model.BestSeller, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BestSeller, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-1">Image</label>
                <div class="col-md-11">
                    <input type="file" name="fileUpload" />
                    @ViewBag.Thongbao
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-1" style="padding-top:.6rem">Update date</label>
                <div class="col-md-11">
                    <input type="date" name="Date" />
                    @Html.ValidationMessageFor(model => model.NgayCapNhat, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-1" style="padding-top:.6rem">Remain</label>
                <div class="col-md-11">
                    @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoLuongTon, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-1" style="padding-top:.6rem">Type</label>
                <div class="col-md-11">
                    @Html.DropDownList("MaLoaiNT")
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-1" style="padding-top:.6rem">Room</label>
                <div class="col-md-11">
                    @Html.DropDownList("MaLoaiPhong")
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-1" style="padding-top:.6rem">Producer</label>
                <div class="col-md-11">
                    @Html.DropDownList("MaNSX")
                </div>
            </div>

            <div class="form-group" style="margin-top:3rem; margin-left:5rem;">
                <div class="col-md-11">
                    <input type="submit" value="Create" class="btn btn-success text-uppercase" style="padding:1rem 2rem; font-weight:500" />
                </div>
            </div>
        </div>
    }
</div>

<style>
    .form-group select, input[name="Date"] {
        padding: .4rem;
    }
</style>
