@model TNCFurnitures.Models.NOITHAT

@{
    ViewBag.Title = "EditFurniture";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div style="margin-left:5rem; margin-right:5rem; margin-top:9rem; border-bottom:2px solid #f6f6f8">
    <h2>Edit furniture</h2>

    @using (Html.BeginForm("EditFurniture", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.MaNT)
            <div class="form-group">
                <label class="col-lg-1">Id</label>
                <div class="col-lg-11">
                    <div sytle="font-size: 18px; padding: 5px 0 0 5px">@Model.MaNT</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1">Name</label>
                <div class="col-lg-11">
                    @Html.EditorFor(model => model.TenNT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenNT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1">Price</label>
                <div class="col-lg-11">
                    <input name="GiaBan" type="text" value="@Model.GiaBan" />
                    @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1">Description</label>
                <div class="col-lg-11">
                    <textarea name="Mota" style="width:28rem; height:15rem;">@Model.MoTa</textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1">Best Seller</label>
                <div class="col-lg-11">
                    @Html.EditorFor(model => model.BestSeller, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BestSeller, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1">Image</label>
                <div class="col-lg-11">
                    Current image <img src="@Url.Content("~/Images/" + Model.AnhBia)" width="120" style="margin-left:.5rem" />
                    @ViewBag.Thongbao
                    <input type="file" name="fileUpload" style="margin-top:1rem" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1">Update date</label>
                <div class="col-lg-11">
                    <input class="form-control" value="@DateTime.Now.ToShortDateString()" disabled />
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1">Remain</label>
                <div class="col-lg-11">
                    @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoLuongTon, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                    <label class="col-lg-1">Type</label>
                    <div class="col-lg-11">
                        @Html.DropDownList("MaLoaiNT")
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-1">Room</label>
                    <div class="col-lg-11">
                        @Html.DropDownList("MaLoaiPhong")
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-1">Producer</label>
                    <div class="col-lg-11">
                        @Html.DropDownList("MaNSX")
                    </div>
                </div>*@

            <div class="form-group" style="margin-top:3rem; margin-left:5rem;">
                <div class="col-lg-11">
                    <input type="submit" value="Save" class="btn btn-success text-uppercase" style="padding:1rem 2rem; font-weight:500" />
                </div>
            </div>
        </div>
    }
</div>

<style>
    .form-group select, input[name="Date"] {
        padding: .4rem;
    }

    label {
        padding-top: .6rem
    }
</style>
