@using TNCFurnitures.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<TNCFurnitures.Models.NOITHAT>

@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

@{
    ViewBag.Title = "Furnitures";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous">
<link href="~/Styles/furniture-admin.css" rel="stylesheet" />

<h1 style="margin-top: 10rem; text-align: center; font-size:3rem">FURNITURE MANAGEMENT</h1>

<a href="@Url.Action("CreateFurniture", "Admin")"
   class="btn btn-primary text-uppercase font-weight-bold m-3"
   style="font-size:1.3rem; padding:1rem 2rem">
    Create new
</a>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col" class="text-center">NAME</th>
            <th scope="col" class="text-center">PRICE</th>
            <th scope="col" class="text-center">IMAGE</th>
            <th scope="col" class="text-center">UPDATE DATE</th>
            <th scope="col" class="text-center">REMAIN</th>
            <th scope="col" class="text-center">PRODUCER</th>
            <th scope="col" class="text-center">OPTIONS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @item.TenNT
                </td>
                <td class="text-center">
                    @String.Format("{0:0,0}", @item.GiaBan)
                </td>
                <td class="text-center">
                    <img width="100" height="100" src="@Url.Content("~/Images/" + item.AnhBia)" />
                </td>
                <td class="text-center">
                    @String.Format("{0:dd/MM/yyyy}", @item.NgayCapNhat)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.SoLuongTon)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.NHASANXUAT.TenNSX)
                </td>
                <td class="text-center">
                    @Html.ActionLink("Edit", "EditFurniture", new { id = item.MaNT }) |
                    @Html.ActionLink("Details", "DetailsFurniture", new { id = item.MaNT }) |
                    @Html.ActionLink("Delete", "DeleteFurniture", new { id = item.MaNT })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="MenuTrang d-flex justify-content-center" style="border-bottom: 2px solid #f6f6f8">
    @Html.PagedListPager(Model, page => Url.Action("Furnitures", new { page = page }))
</div>

<style>
    .MenuTrang li {
        display: inline;
    }

    .MenuTrang a {
        font-size: 1.3rem;
    }

    th {
        font-size: 1.6rem;
    }

    td {
        font-size: 1.5rem;
        vertical-align: middle !important;
    }

    a:hover {
        text-decoration: none;
    }
</style>