<link href="~/Styles/home.css" rel="stylesheet" />
<link href="~/Styles/default.css" rel="stylesheet" />
<link href="~/Styles/not-room-2.css" rel="stylesheet" />
<link href="~/Styles/not-hot.css" rel="stylesheet" />
<link href="~/Styles/not-news-2.css" rel="stylesheet" />
@{ ViewBag.Title = "Home Page"; }

<div class="row carousel-holder" style="margin:0 !important;">
    <div class="col-md-12" style="padding:0 !important;">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="slide-image slider-img" src="~/Images/slider3.jpg" />
                </div>
                <div class="item">
                    <img class="slide-image slider-img" src="~/Images/slider2.jpg" />
                </div>
                <div class="item">
                    <img class="slide-image slider-img" src="~/Images/slider1.jpg" />
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>


<div class="rooms">
    <div class="hd text-center" style="padding-bottom: 10px;">
        <h2 class="hd-title d-inline-block position-relative">ROOMS</h2>
        <div class="hd-about text-secondary font-italic">Furnitures suitable for you</div>
    </div>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="room col-12 col-md-6">
                <div class="overflow-hidden position-relative hi">
                    <img class="transition" src="~/Images/room1.jpg">
                    <div class="bottom-center w-100 d-flex justify-content-center position-absolute">
                        <div class="room-btn">
                            <a href="@Url.Action("Products", "FurnitureStore", new { id = 2, isRoom = true })"
                               class="d-flex justify-content-center align-items-center h-100 transition">Bedroom</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="room col-12 col-md-6 ">
                <div class="overflow-hidden position-relative hi">
                    <img class="transition" src="~/Images/room2.jpg">
                    <div class="bottom-center w-100 d-flex justify-content-center position-absolute">
                        <div class="room-btn">
                            <a href="@Url.Action("Products", "FurnitureStore", new { id = 1, isRoom = true })"
                               class="d-flex justify-content-center align-items-center h-100 transition">Living Room</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="room col-12 col-md-6">
                <div class="overflow-hidden position-relative hi">
                    <img class="transition" src="~/Images/room3.jpg">
                    <div class="bottom-center w-100 d-flex justify-content-center position-absolute">
                        <div class="room-btn">
                            <a href="@Url.Action("Products", "FurnitureStore", new { id = 4, isRoom = true })"
                               class="d-flex justify-content-center align-items-center h-100 transition">Bathroom</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="room col-12 col-md-6">
                <div class="overflow-hidden position-relative hi">
                    <img class="transition" src="~/Images/room4.jpg">
                    <div class="bottom-center w-100 d-flex justify-content-center position-absolute">
                        <div class="room-btn">
                            <a href="@Url.Action("Products", "FurnitureStore", new { id = 3, isRoom = true })" 
                               class="text-dark d-flex justify-content-center align-items-center h-100 transition">Dining Room</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="best-seller" style="padding-bottom:20px; background-color:#fff !important;">
    <div class="container">
        <div class="hd text-center" style="padding-bottom: 10px;">
            <h2 class="hd-title">HOT PRODUCTS</h2>
            <div class="hd-about text-secondary">Top view of the week</div>
        </div>
        <div class="p-nav text-center pt-4">
            <ul class="d-flex justify-content-center">
                <li id="p-nav-item-1" class="p-nav-item cursor-pointer p-border p-border-color transition"><a id="p-nav-link-1" class="p-nav-link p-link-color transition">Best Seller</a></li>
                <li id="p-nav-item-2" class="p-nav-item cursor-pointer p-border transition"><a id="p-nav-link-2" class="p-nav-link transition">New Arrivals</a></li>

            </ul>
        </div>
        @Html.Action("BestSellerPartial", "Home")
        <div id="na-block" class="h-block na-block d-none">
            <div class="p-3">
                There are no products matching the selection.
            </div>
        </div>

    </div>
</div>


<div class="news container">
    <div class="hd text-center">
        <h2 class="hd-title d-inline-block position-relative">LASTEST FROM BLOG</h2>
        <div class="hd-about text-secondary font-italic">The freshest and most exciting news</div>
    </div>
    <div class="row pt-4 align-items-center">
        <div class="col-12 col-sm-6 col-md-4 new">
            <a href="#">
                <img src="https://www.comfortfurniture.com.sg/blog/wp-content/uploads/2019/08/featured-choices-of-living-room-furniture-showroom-comfort-furniture.jpg">
            </a>
            <div class="n-name font-weight-bold pt-3">
                <a class="text-black transition" href="#">Amet Consectetur Adipisicing</a>
            </div>
            <div class="n-by text-secondary pt-3">By <b class="text-black">admin</b> on <span class="text-black">Jun 10, 2020</span></div>
            <div class="n-about text-secondary pt-3">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 new">
            <a href="#">
                <img src="https://static1.squarespace.com/static/57058af18a65e2f19709cb0d/59c871db18b27d6b84a0c447/5c4e93ee7924e8386a3bbf82/1563300003992/DSC06860_1280px.jpg?format=1500w">
            </a>
            <div class="n-name font-weight-bold pt-3">
                <a class="text-black transition" href="#">New Showrooms At Paris</a>
            </div>
            <div class="n-by text-secondary pt-3">By <b class="text-black">admin</b> on <span class="text-black">Jun 10, 2020</span></div>
            <div class="n-about text-secondary pt-3">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 new">
            <a href="#">
                <img src="https://i.pinimg.com/originals/d0/63/21/d06321d1756d518e30dac580ec3ec92f.jpg">
            </a>
            <div class="n-name font-weight-bold pt-3">
                <a class="text-black transition" href="#">Furniture Fashion Show 2020</a>
            </div>
            <div class="n-by text-secondary pt-3">By <b class="text-black">admin</b> on <span class="text-black">Jun 10, 2020</span></div>
            <div class="n-about text-secondary pt-3">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
        </div>
    </div>
</div>


<script>
    let navItem1 = document.getElementById('p-nav-item-1');
    let navItem2 = document.getElementById('p-nav-item-2');

    let linkItem1 = document.getElementById('p-nav-link-1');
    let linkItem2 = document.getElementById('p-nav-link-2');

    let bsBlock = document.getElementById('bs-block');
    let naBlock = document.getElementById('na-block');

    navItem1.addEventListener('click', checkBestSeller);
    navItem2.addEventListener('click', checkNewArrivals);
    function checkBestSeller() {
        let check = navItem1.getAttribute('class');
        if (!check.includes('p-border-color')) {
            navItem1.classList.add('p-border-color');
            navItem2.classList.remove('p-border-color');
            linkItem1.classList.add('p-link-color');
            linkItem2.classList.remove('p-link-color');
            bsBlock.classList.remove('d-none');
            naBlock.classList.add('d-none');
        }
    }
    function checkNewArrivals() {
        let check = navItem2.getAttribute('class');
        if (!check.includes('p-border-color')) {
            navItem2.classList.add('p-border-color');
            navItem1.classList.remove('p-border-color');
            linkItem2.classList.add('p-link-color');
            linkItem1.classList.remove('p-link-color');
            naBlock.classList.remove('d-none');
            bsBlock.classList.add('d-none');
        }
    }
</script>
