@if (@Model != null)
{
    <li class="name"><p class="name border-bottom transition" style="padding: 1rem;">@Model.TenND</p></li>
    <li><a href="@Url.Action("Profile", "User", new { id = Model.MaND })" class="hover-blue border-bottom transition">Profile</a></li>
    <li><a href="@Url.Action("Logout", "User")" class="hover-blue transition">Sign out</a></li>
}
else
{
    <li><a href="@Url.Action("Register", "User")" class="border-bottom hover-blue transition">Create an Account</a></li>
    <li><a href="@Url.Action("Login", "User")" class="hover-blue transition">Sign in</a></li>
}

<style>
    .name {
        font-weight:500;
        font-style:italic;
        margin-bottom:0;
    }
</style>