<link href="~/Styles/not-details.css" rel="stylesheet" />
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container details d-flex justify-content-center">
    <div class="row w-100">
        <div class="image-ctn col-12 col-md-6 col-xl-5">
            <img src="~/Images/@Model.AnhBia" class="detail-image" />
        </div>

        <div class="info-ctn col-12 col-md-6 col-xl-7">
            <div class="font-weight-bold detail-name">@Model.TenNT</div>
            <div class="detail-ton">In Stock - @Model.SoLuongTon left</div>
            <div class="detail-rating">
                <i class="fas fa-star" style="color:#fafa24"></i>
                <i class="fas fa-star" style="color:#fafa24"></i>
                <i class="fas fa-star" style="color:#fafa24"></i>
                <i class="fas fa-star" style="color:#fafa24"></i>
                <i class="fas fa-star" style="color:#fafa24"></i>
            </div>
            <div class="detail-description mt-4">@Model.MoTa</div>
            <div class="d-flex align-items-center detail-bottom" style="margin-top:1.5rem;">
                <div class="detail-price mt-4">@String.Format("{0:0,0}", @Model.GiaBan) VNĐ</div>
                <a href="@Url.Action("AddToCart", "Cart", new { @iMaNT = @Model.MaNT, @strURL = Request.Url.ToString() })"
                   class="btn btn-success text-uppercase mt-4" style="padding: 1rem 3rem; font-size: 1.5rem; margin-left:2rem; font-weight:500;">
                    Add To Cart
                </a>
            </div>
            
        </div>
    </div>
</div>

