<link href="~/Styles/not-hot.css" rel="stylesheet" />
@using TNCFurnitures.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<NOITHAT>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container products" style="margin-top: 9rem;">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="h-item col-12 col-sm-6 col-lg-3">
                <div class="position-relative">
                    <a href="#">
                        <img src="~/Images/@item.AnhBia" style="width: 100%; height: 30rem;">
                    </a>
                    <div class="so-2-overlay w-100 h-100 position-absolute transition">
                        <div class="position-relative d-flex justify-content-center align-items-center" style="height:100%">
                            <div class="so-2-btn transition position-absolute">
                                <a class="so-2-link transition" href="@Url.Action("Details", "FurnitureStore", new { id = item.MaNT })" style="font-size:1.4rem;">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tp-info pt-2">
                    <p class="tp-name transition" style="font-size:1.7rem;">@item.TenNT</p>
                    <p class="tp-price" style="font-size:1.4rem;">@String.Format("{0:0,0}", @item.GiaBan) VNĐ</p>
                </div>
            </div>
        }
    </div>
</div>
<div class="MenuTrang d-flex justify-content-center">
    @Html.PagedListPager(Model, page => Url.Action("Products", "FurnitureStore", new { page = page, id = Model[1].MaLoaiNT, isRoom = Model.TotalItemCount > 8 ? true : false }))
</div>

<style>
    .MenuTrang li {
        display: inline;
    }
</style>


