<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Styles/layout.css")
    <link href="~/Styles/not-header-2.css" rel="stylesheet" />
    <link href="~/Styles/not-footer.css" rel="stylesheet" />
    <link href="~/Styles/default.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/216cd63880.js"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <div class="container-fluid header-2">
        <div class="header-2-child d-flex justify-content-between">
            <div class="header-2-bar d-lg-none d-flex text-white align-items-center justify-content-start col-4 p-0">
                <i id="bar" class="fas fa-bars cursor-pointer"></i>
            </div>
            <div class="d-flex align-items-center col-lg-3 justify-content-lg-start justify-content-center p-0 col-4">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/Images/new-logo.png" style="width:15rem; height:4rem;" />
                </a>
            </div>
            <div class="header-2-navigation d-none d-lg-flex col-lg-6 justify-content-lg-center">
                <ul class="dropdown d-flex">
                    <li id="home" class="has-menu position-relative cursor-pointer">
                        <a href="@Url.Action("Products", "FurnitureStore", new { id = 2, isRoom = false })" class="hover text-white transition">
                            Bed
                        </a>
                    </li>
                    <li class="has-menu position-relative cursor-pointer">
                        <a href="@Url.Action("Products", "FurnitureStore", new { id = 1, isRoom = false })" class="hover text-white position-relative transition">
                            Desk
                            <span class="hd-badge badge badge-pill badge-info position-absolute">New</span>
                        </a>
                    </li>
                    <li class="has-menu position-relative cursor-pointer">
                        <a href="@Url.Action("Products", "FurnitureStore", new { id = 3, isRoom = false })" class="has-badge hover text-white position-relative transition">
                            Chair
                        </a>
                    </li>
                    <li class="has-menu position-relative cursor-pointer">
                        <a href="@Url.Action("Products", "FurnitureStore", new { id = 4, isRoom = false })" class="has-badge hover text-white position-relative transition">
                            Sofa
                        </a>
                    </li>
                    <li class="has-menu position-relative cursor-pointer">
                        <a href="@Url.Action("Products", "FurnitureStore", new { id = 5, isRoom = false })" class="has-badge hover text-white position-relative transition">
                            Wardrobe
                        </a>
                    </li>
                    <li class="has-menu position-relative cursor-pointer">
                        <a href="@Url.Action("Products", "FurnitureStore", new { id = 6, isRoom = false })" class="has-badge hover text-white position-relative transition">
                            Lamp
                        </a>
                    </li>
                    <li class="has-menu position-relative cursor-pointer">
                        <a href="@Url.Action("Products", "FurnitureStore", new { id = 7, isRoom = false })" class="hover text-white position-relative transition">
                            Carpet
                            <span class="sale-badge hd-badge badge badge-pill badge-warning text-white position-absolute">Sale</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header-2-icon d-flex col-lg-3 justify-content-end p-0 col-4">
                <div class="has-menu h2-icon account-icon position-relative d-flex">
                    <div class="text-white cursor-pointer hover transition"><i class="far fa-user"></i></div>
                    <div class="submenu account-submenu position-absolute">
                        <div class="bg-white">
                            <ul class="one-col-content">
                                <li class="width-12"><a href="@Url.Action("Register", "User")" class="border-bottom hover-blue transition">Create an Account</a></li>
                                <li class="width-12"><a href="@Url.Action("Login", "User")" class="hover-blue transition">Sign In</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cart-icon h2-icon">
                    <a href="@Url.Action("Cart", "Cart")" id="cart" class="text-white hover-blue transition position-relative">
                        <i class="fas fa-shopping-cart"></i>
                        @Html.Action("CartPartial", "Cart")
                    </a>
                </div>
            </div>
            <div id="search" class="transition">
                <form>
                    <input type="search" value="" placeholder="Search for..." />
                </form>
            </div>
        </div>
    </div>

    <div id="cart-menu" class="cart bg-white position-fixed d-none">
        <div class="cart-header text-white py-2 d-flex align-items-center">
            <div id="cart-close" class="cart-close-btn pl-3 cursor-pointer">
                <i class="fas fa-times"></i>
            </div>
            <div class="cart-title text-center font-weight-bold">
                MINI CART
            </div>
        </div>
        <div class="cart-content text-center p-4">
            You have no items in your shopping cart.
        </div>
    </div>

    <div id="bar-menu" class="bar bg-white position-fixed d-none d-lg-none">
        <div class="bar-header text-white d-flex">
            <div id="bar-header-1" class="bar-header-tittle d-flex justify-content-center align-items-center font-weight-bold cursor-pointer transition">Menu</div>
            <div id="bar-header-2" class="bar-header-tittle d-flex justify-content-center align-items-center font-weight-bold bar-header-border cursor-pointer transition">Account</div>
            <div id="bar-header-3" class="bar-header-tittle d-flex justify-content-center align-items-center font-weight-bold cursor-pointer transition position-relative">
                Setting
            </div>
        </div>
        <div class="bar-content">
            <ul id="menu" class="menu">
                <li class="menu-item has-item border-bottom d-flex">
                    <a href="@Url.Action("Products", "FurnitureStore", new { id = 2, isRoom = false })" class="text-dark cursor-pointer">Bed</a>
                </li>
                <li class="menu-item has-item border-bottom cursor-pointer d-flex position-relative">
                    <a href="@Url.Action("Products", "FurnitureStore", new { id = 1, isRoom = false })" class="text-dark">Desk</a>
                    <span class="menu-item-badge badge badge-pill badge-info position-absolute">New</span>
                </li>
                <li class="menu-item has-item border-bottom cursor-pointer d-flex">
                    <a href="@Url.Action("Products", "FurnitureStore", new { id = 3, isRoom = false })" class="text-dark">Chair</a>
                </li>
                <li class="menu-item has-item border-bottom cursor-pointer d-flex">
                    <a href="@Url.Action("Products", "FurnitureStore", new { id = 4, isRoom = false })" class="text-dark">Sofa</a>
                </li>
                <li class="menu-item has-item border-bottom cursor-pointer d-flex">
                    <a href="@Url.Action("Products", "FurnitureStore", new { id = 5, isRoom = false })" class="text-dark">Wardrobe</a>
                </li>
                <li class="menu-item has-item border-bottom cursor-pointer d-flex">
                    <a href="@Url.Action("Products", "FurnitureStore", new { id = 6, isRoom = false })" class="text-dark">Lamp</a>
                </li>
                <li class="menu-item border-bottom cursor-pointer d-flex position-relative">
                    <a href="@Url.Action("Products", "FurnitureStore", new { id = 7, isRoom = false })" class="text-dark">Carpet</a>
                    <span class="menu-item-badge badge badge-pill badge-warning text-white position-absolute">Sale</span>
                </li>
            </ul>
            <ul id="account-menu" class="account-menu d-none">
                <li class="menu-item border-bottom cursor-pointer d-flex"><a href="@Url.Action("Register", "User")" class="text-dark">Create an Account</a></li>
                <li class="menu-item border-bottom cursor-pointer d-flex"><a href="@Url.Action("Login", "User")" class="text-dark">Sign In</a></li>
            </ul>
            <ul id="setting-menu" class="setting-menu d-none">
                <li id="lang-btn" class="menu-item border-bottom cursor-pointer position-relative d-flex">
                    <div>
                        Austria
                        <i class="fas fa-caret-down pl-3"></i>
                    </div>
                    <ul id="lang-menu" class="setting-item position-absolute d-none">
                        <li class="d-flex align-items-center hover-blue">
                            <a href="#" class="text-secondary h1-submenu-link transition">
                                <img src="https://upload.wikimedia.org/wikipedia/en/b/be/Flag_of_England.svg" class="submenu-img pr-2">English
                            </a>
                        </li>
                        <li class="d-flex align-items-center">
                            <a href="#" class="text-secondary h1-submenu-link transition">
                                <img src="https://cdn.countryflags.com/thumbs/france/flag-400.png" class="submenu-img pr-2">French
                            </a>
                        </li>
                        <li class="d-flex align-items-center">
                            <a href="#" class="text-secondary h1-submenu-link transition">
                                <img src="https://cdn.countryflags.com/thumbs/germany/flag-400.png" class="submenu-img pr-2">German
                            </a>
                        </li>
                        <li class="d-flex align-items-center">
                            <a href="#" class="text-secondary h1-submenu-link transition">
                                <img src="https://cdn.countryflags.com/thumbs/italy/flag-400.png" class="submenu-img pr-2">Italy
                            </a>
                        </li>
                        <li class="d-flex align-items-center">
                            <a href="#" class="text-secondary h1-submenu-link transition">
                                <img src="https://cdn.countryflags.com/thumbs/spain/flag-400.png" class="submenu-img pr-2">Spain
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="currency-btn" class="menu-item border-bottom cursor-pointer position-relative d-flex">
                    <div>
                        USD
                        <i class="fas fa-caret-down pl-3"></i>
                    </div>
                    <ul id="currency-menu" class="setting-item setting-item-curr position-absolute d-none">
                        <li><a href="#" class="text-secondary h1-submenu-link transition">EUR - Euro</a></li>
                        <li><a href="#" class="text-secondary h1-submenu-link transition">SAR - Saudi Riyal</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="bar-close" class="text-white cursor-pointer bar-close-btn position-fixed d-none d-lg-none">
        <i class="fas fa-times"></i>
    </div>

    <div id="bar-body-gray" class="body-gray d-none transition d-lg-none"></div>
    <div id="cart-body-gray" class="body-gray d-none transition"></div>

    <div class="container-fluid" style="padding:0 !important; margin:0 !important;">
        @RenderBody()
    </div>

    <div class="footer">
        <div class="container footer-link">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 text-gray pt-6">
                    <div class="pb-6">
                        <a href="#">
                            <img src="~/Images/new-logo-2.jpg" style="width:18rem; height:5rem" />
                        </a>
                    </div>
                    <div class="d-flex pb-3">
                        <i class="fas fa-map-marker-alt pt-1"></i>
                        <span class="pl-175">
                            184 Main Rd E, St Albans
                            <br />
                            VIC 3021, Australia
                        </span>
                    </div>
                    <div class="pb-175">
                        <i class="far fa-envelope"></i>
                        <a class="text-gray hover-blue transition pl-3" href="#">contact@tnc.com</a>
                    </div>
                    <div class="pb-175">
                        <i class="fas fa-phone-alt"></i>
                        <a class="text-gray hover-blue transition pl-3" href="#">+001 2233 456</a>
                    </div>
                    <div>
                        <a class="text-gray hover-blue transition pr-4" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="text-gray hover-blue transition pr-4" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="text-gray hover-blue transition pr-4" href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a class="text-gray hover-blue transition pr-4" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="text-gray hover-blue transition" href="#"><i class="fab fa-pinterest-p"></i></a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 pt-6">
                    <ul>
                        <li class="font-weight-bold pb-6 footer-list-title">Categories</li>
                        <li class="pb-175">
                            <a class="text-gray hover-blue transition" href="#">Men</a>
                        </li>
                        <li class="pb-175">
                            <a class="text-gray hover-blue transition" href="#">Women</a>
                        </li>
                        <li class="pb-175">
                            <a class="text-gray hover-blue transition" href="#">Accessories</a>
                        </li>
                        <li class="pb-175">
                            <a class="text-gray hover-blue transition" href="#">Shoes</a>
                        </li>
                        <li class="pb-175">
                            <a class="text-gray hover-blue transition" href="#">Denim</a>
                        </li>
                        <li class="pb-175">
                            <a class="text-gray hover-blue transition" href="#">Dress</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3 pt-6">
                    <ul>
                        <li class="font-weight-bold pb-6 footer-list-title">Information</li>
                        <li class="pb-175">
                            <a class="text-gray hover-blue transition" href="#">About Us</a>
                        </li>
                        <li class="pb-175">
                            <a class="text-gray hover-blue transition" href="#">Contact Us</a>
                        </li>
                        <li class="pb-175">
                            <a class="text-gray hover-blue transition" href="#">Terms & Conditions</a>
                        </li>
                        <li class="pb-175">
                            <a class="text-gray hover-blue transition" href="#">Returns & Exchanges</a>
                        </li>
                        <li class="pb-175">
                            <a class="text-gray hover-blue transition" href="#">Shipping & Delivery</a>
                        </li>
                        <li class="pb-175">
                            <a class="text-gray hover-blue transition" href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3 pt-6">
                    <ul>
                        <li class="font-weight-bold pb-6 footer-list-title">Quick Links</li>
                        <li class="pb-175">
                            <a class="text-gray hover-blue transition" href="#">Store Location</a>
                        </li>
                        <li class="pb-175">
                            <a class="text-gray hover-blue transition" href="#">My Account</a>
                        </li>
                        <li class="pb-175">
                            <a class="text-gray hover-blue transition" href="#">Accessories</a>
                        </li>
                        <li class="pb-175">
                            <a class="text-gray hover-blue transition" href="#">Orders Tracking</a>
                        </li>
                        <li class="pb-175">
                            <a class="text-gray hover-blue transition" href="#">Size Guide</a>
                        </li>
                        <li class="pb-175">
                            <a class="text-gray hover-blue transition" href="#">FAQs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright mt-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-8 d-flex justify-content-center justify-content-lg-start text-center text-gray p-3">
                        Copyright © 2017 Claue. All rights reserved. Powered by Magesolution
                    </div>
                    <div class="col-12 col-lg-4 d-flex justify-content-center justify-content-lg-end p-3">
                        <ul class="d-flex align-items-center m-0">
                            <li>
                                <a class="text-gray hover-blue transition" href="#">Blog</a>
                            </li>
                            <li class="pl-175">
                                <a class="text-gray hover-blue transition" href="#">Contact</a>
                            </li>
                            <li class="pl-175">
                                <a class="text-gray hover-blue transition" href="#">About Us</a>
                            </li>
                            <li class="pl-175">
                                <a class="text-gray hover-blue transition" href="#">Shop</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/header.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $('.input100').each(function () {
            $(this).on('blur', function () {
                if ($(this).val().trim() != "") {
                    $(this).addClass('has-val');
                }
                else {
                    $(this).removeClass('has-val');
                }
            })
        })
    </script>
</body>
</html>
